# Earthquake Damage

We're trying to predict the ordinal variable damage_grade, which represents a level of damage to the building that was hit by the earthquake. There are 3 grades of the damage:

* 1 represents low damage
* 2 represents a medium amount of damage
* 3 represents almost complete destruction

# Libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Data

In [4]:
labels = pd.read_csv('data/train_labels.csv')
labels.head()

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3

In [12]:
labels.shape

(260601, 2)

In [5]:
values = pd.read_csv('data/train_values.csv')
values.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,0
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,0

In [13]:
values.shape

(260601, 39)

In [11]:
# Why does this never work?
# df = pd.concat([labels, values], axis=1)

# Merge labels and values
df = pd.merge(labels, values)
df.head()

,building_id,damage_grade,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,3,6,487,12198,2,30,6,5,t,...,0,0,0,0,0,0,0,0,0,0
1,28830,2,8,900,2812,2,10,8,7,o,...,0,0,0,0,0,0,0,0,0,0
2,94947,3,21,363,8973,2,10,5,5,t,...,0,0,0,0,0,0,0,0,0,0
3,590882,2,22,418,10694,2,10,6,5,t,...,0,0,0,0,0,0,0,0,0,0
4,201944,3,11,131,1488,3,30,8,9,t,...,0,0,0,0,0,0,0,0,0,0

# Explore

In [14]:
df.shape

(260601, 41)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 41 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   damage_grade                            260601 non-null  int64
 2   building_id                             260601 non-null  int64
 3   geo_level_1_id                          260601 non-null  int64
 4   geo_level_2_id                          260601 non-null  int64
 5   geo_level_3_id                          260601 non-null  int64
 6   count_floors_pre_eq                     260601 non-null  int64
 7   age                                     260601 non-null  int64
 8   area_percentage                         260601 non-null  int64
 9   height_percentage                       260601 non-null  int64
 10  land_surface_condition                  260601 non-null  object
 11  foundation_type                         260601 non-null  object
 12  roof_type                               260601 non-null  object
 13  ground_floor_type                       260601 non-null  object
 14  other_floor_type                        260601 non-null  object
 15  position                                260601 non-null  object
 16  plan_configuration                      260601 non-null  object
 17  has_superstructure_adobe_mud            260601 non-null  int64
 18  has_superstructure_mud_mortar_stone     260601 non-null  int64
 19  has_superstructure_stone_flag           260601 non-null  int64
 20  has_superstructure_cement_mortar_stone  260601 non-null  int64
 21  has_superstructure_mud_mortar_brick     260601 non-null  int64
 22  has_superstructure_cement_mortar_brick  260601 non-null  int64
 23  has_superstructure_timber               260601 non-null  int64
 24  has_superstructure_bamboo               260601 non-null  int64
 25  has_superstructure_rc_non_engineered    260601 non-null  int64
 26  has_superstructure_rc_engineered        260601 non-null  int64
 27  has_superstructure_other                260601 non-null  int64
 28  legal_ownership_status                  260601 non-null  object
 29  count_families                          260601 non-null  int64
 30  has_secondary_use                       260601 non-null  int64
 31  has_secondary_use_agriculture           260601 non-null  int64
 32  has_secondary_use_hotel                 260601 non-null  int64
 33  has_secondary_use_rental                260601 non-null  int64
 34  has_secondary_use_institution           260601 non-null  int64
 35  has_secondary_use_school                260601 non-null  int64
 36  has_secondary_use_industry              260601 non-null  int64
 37  has_secondary_use_health_post           260601 non-null  int64
 38  has_secondary_use_gov_office            260601 non-null  int64
 39  has_secondary_use_use_police            260601 non-null  int64
 40  has_secondary_use_other                 260601 non-null  int64
dtypes: int64(33), object(8)
memory usage: 81.5+ MB

In [16]:
df.describe()

,building_id,damage_grade,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
count,2.606010e+05,260601.000000,2.606010e+05,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,...,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000,260601.000000
mean,5.256755e+05,2.238272,5.256755e+05,13.900353,701.074685,6257.876148,2.129723,26.535029,8.018051,5.434365,...,0.064378,0.033626,0.008101,0.000940,0.000361,0.001071,0.000188,0.000146,0.000088,0.005119
std,3.045450e+05,0.611814,3.045450e+05,8.033617,412.710734,3646.369645,0.727665,73.565937,4.392231,1.918418,...,0.245426,0.180265,0.089638,0.030647,0.018989,0.032703,0.013711,0.012075,0.009394,0.071364
min,4.000000e+00,1.000000,4.000000e+00,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.611900e+05,2.000000,2.611900e+05,7.000000,350.000000,3073.000000,2.000000,10.000000,5.000000,4.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.257570e+05,2.000000,5.257570e+05,12.000000,702.000000,6270.000000,2.000000,15.000000,7.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7.897620e+05,3.000000,7.897620e+05,21.000000,1050.000000,9412.000000,2.000000,30.000000,9.000000,6.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.052934e+06,3.000000,1.052934e+06,30.000000,1427.000000,12567.000000,9.000000,995.000000,100.000000,32.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [18]:
df.isnull().sum()

building_id                               0
damage_grade                              0
building_id                               0
geo_level_1_id                            0
geo_level_2_id                            0
geo_level_3_id                            0
count_floors_pre_eq                       0
age                                       0
area_percentage                           0
height_percentage                         0
land_surface_condition                    0
foundation_type                           0
roof_type                                 0
ground_floor_type                         0
other_floor_type                          0
position                                  0
plan_configuration                        0
has_superstructure_adobe_mud              0
has_superstructure_mud_mortar_stone       0
has_superstructure_stone_flag             0
has_superstructure_cement_mortar_stone    0
has_superstructure_mud_mortar_brick       0
has_superstructure_cement_mortar_brick    0
has_superstructure_timber                 0
has_superstructure_bamboo                 0
has_superstructure_rc_non_engineered      0
has_superstructure_rc_engineered          0
has_superstructure_other                  0
legal_ownership_status                    0
count_families                            0
has_secondary_use                         0
has_secondary_use_agriculture             0
has_secondary_use_hotel                   0
has_secondary_use_rental                  0
has_secondary_use_institution             0
has_secondary_use_school                  0
has_secondary_use_industry                0
has_secondary_use_health_post             0
has_secondary_use_gov_office              0
has_secondary_use_use_police              0
has_secondary_use_other                   0
dtype: int64

# Cleaning

# Train/Test

# Model

# Conclusion

# Future Work

# Submission